.album-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
}

.album-cover {
    width: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px; 
}

.header, .footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #b09f4f;
    color: white;
}

.sidebar {
    width: 200px;
    background-color: darkgray; 
    padding: 20px;
    color: gold; 
}

.album-info {
    flex-grow: 1;
    padding: 20px;
    background-color: black; 
    color: white; 
}

.song-list {
    margin-top: 20px;
}

.song-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    color: gold;
}

.favorite-button {
    background: none;
    border: none;
    cursor: pointer;
    color: gold;
}