.contentArea {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  min-height: 0; /* Ensures flex items can shrink below content size */
}

.artist_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}