.contentArea {
  flex: 1;
  overflow: scroll;
  display: flex;
  min-height: 0; /* Ensures flex items can shrink below content size */
  gap: 10px;
}

.artist {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.artist_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}