.contentArea {
  flex: 1;
  display: flex;
  gap: 10px;
  background-color: rgb(23, 23, 23);
}

.artistSection {
  border-radius: 10px;
  overflow: hidden;
  min-width: 60%; 
}

.songCard {
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(38, 38, 38)
}